* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white-50: #ffffff;
  --white-100: #F8F8F8;



  --black: #000000;
  --black-50: #282C34;

  --purple: #FF57B2;

  --gray-50: #C4C4C4;
  --gray-100: #BBBBBB;


}

@media (max-width:1080px){
  html {
      font-size: 93.75%;
  }
}

@media (max-width:720px){
  html {
      font-size: 87.5%;
  }
}

body{
  background: var(--black-50);
  color: var(--white-50);
}

body, input, textarea, select, button {
  font: 400 1rem "inter", sans-serif;

}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
