
.post {
    width: 43.5rem;
    margin-bottom: 3rem;

    h1 {
        margin-bottom: 0.5rem;
        font-size: 1.75rem;
    }

    p {
        font-size: 1.125rem;
        color: var(--gray-50);
    }

    div {
        margin-top: 1.5rem;
        display: flex;
        color: var(--gray-100);
        align-items: center;
 

        time {
            font-size: 0.875rem;
            display: flex;
            align-items: center;
            
            svg {
                margin-right: 0.5rem;
            }
        }

        p {
            margin-left: 1.5rem;
            font-size: 0.875rem;
            display: flex;
            align-items: center;
            
            svg {
                margin-right: 0.5rem;
            }
        }

    }

}

.buttonHome {
    width: 11.25rem;
    background-color: var(--black-50);
    border: none;
    color: var(--purple) ;
    text-align: left;
    font-size: 1.125rem;
    margin-right: 32rem;
}